<h2>To Do App</h2>

<h3>Update Your Daily Tasks Here</h3>

# Create a Form to Submit Task
# Add Submit Task Button

<h2>Open Tasks</h2>
<div ng-repeat = "task in tasks | orderBy: 'due_date' | filter: { task_complete: false } ">
  {{task.task_name}} {{task.due_date}} {{task.task_complete}}
  <button ng-click = "markTaskComplete(task)">Task Complete</button>
</div>

<h2>Completed Tasks</h2>
<div ng-repeat = "task in tasks | orderBy: 'due_date' | filter: { task_complete: true } ">
  {{task.task_name}} {{task.due_date}} {{task.task_complete}}
  <button ng-click = "deleteTask(task)">Delete Task</button>
</div>
